changeLogFile=changelog.xml
liquibase.command.url=jdbc:postgresql://localhost:5432/workspace
liquibase.command.username: postgres
liquibase.command.password: admin
liquibase.command.defaultSchemaName: <<table name>>
liquibase.hub.mode=off
